@charset "UTF-8";

.presupuesto {

max-width: 25em;
padding: 1.3em;
margin: 0 auto ;
background-color: #faa80d;
font-weight: bold;
border-radius: 0.5em;
box-shadow: inset 1px 1px 22px 4px rgb(0, 0, 0, 0.85);
}